<% if(!cookie_is_logged || cookie_is_logged[0].role != 'Admin') {%>
<script type="text/javascript">
    window.location.href = "/"
</script>
<%} %>

<div class="field button">
    <a href="/admin"><input class="btnAdd" type="submit" value="Liste recettes"></a>
    <a href="/addRecipe"><input class="btnAdd" type="submit" value="Ajouter un article"></a>
    <a href="/contact/messages"><input class="listMsg" type="submit" value="Contact"></a>
    <a href="/comments/valid"><input class="editCom" type="submit" value="Valider le commentaire"></a>
    <a href="/user/getAll"><input type="submit" value="Utilisateurs"></a>
</div>